<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PulseDiver</title>
     <link rel="stylesheet" href="../static/css/search.css">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="../static/images/pulsediverico.ico">
    <script src="../static/js/speech2text.js"></script>
</head>

<body>
<div class="main-container">
<div class="search-container">
     <form method="post" action="/" enctype="multipart/form-data">
           <div class="search-wrapper">
            <img src="../static/images/pulsediver.png" alt="logo" class="logo-image">
            <div class="search-box-container">
                <i class="fa fa-search"></i>
                <input type="text" name="query" id="query" placeholder="在此输入搜索内容" class="search-box">
                <i class="fa fa-camera inside-icon" id="cameraIcon" title="点击进行以图识图"></i> <!-- 相机图标 -->
                <input type="file" id="fileInput" style="display: none;" accept="image/*"> <!-- 隐藏的文件输入 -->
                <i class="fa fa-microphone fa-lg inside-icon" id="micIcon" title="点击开始语音识别...
(必须为[Edge]或[Chrome]浏览器才可使用此功能)" onclick="startSpeechRecognition()"></i>
                <button type="submit" class="search-button">搜索</button></button>
            </div>
        </div>
     </form>
    <hr class="search-divider">
    <div class="search-showresults">
        PulseDiver为您找到相关结果{{ length }}条, 用时{{ execution_times }} s
    </div>
</div>
<div id="box" class="search-results">
    {% if doc_list %}
    {% for doc in doc_list %}
    <h4><a href="{{ doc['URL'] }}" target="_blank">{{ doc['Highlighted_Title'] | safe}}</a></h4>
    <div class="summary"><p>{{ doc['Summary'] | safe }}</p></div>
    <p>地址：{{ doc['URL'] }}</p>
    <!-- 添加展示摘要的区域 -->
    {% if doc['Summary'] %}

    {% endif %}
    <br>
    {% endfor %}
    {% else %}
    <p>未找到相关结果</p>
    {% endif %}
</div>
<!-- 添加分页按钮 -->
<div class="pagination">
    <ul class="pagination-list">
        {% set max_pages = 10 %}
        {% set half_max_pages = max_pages // 2 %}
        {% set start_page = (page - half_max_pages) if (page - half_max_pages) > 0 else 1 %}
        {% set end_page = start_page + max_pages - 1 %}
        {% if end_page > (length // 10) + 1 %}
            {% set start_page = ((length // 10) + 1) - max_pages + 1 if ((length // 10) + 1) > max_pages else 1 %}
            {% set end_page = (length // 10) + 1 %}
        {% endif %}
        {% for i in range(start_page, end_page + 1) %}
            <li {% if i == page %}class="active"{% endif %}>
                <a href="{{ url_for('search.search', query=query_word, page=i) }}">{{ i }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
</div>

    <div id="overlay" style="width: 100%; height: 100%;display: none;position: fixed; z-index: 50; content: '';
    background-color: rgba(44,44,44,0.52);
">
  </div>

 <div id="dialog-container" style="display: none;position: fixed;flex-direction:column;
 align-items:center;top:30%;height: 160px;
 width: 250px;background-color: #e5e5e5;z-index: 60;border-radius: 12px;
box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);;
">
     <div style="display: flex; flex-direction: column; align-items: center">
         <span style="font-size: 20px;font-weight: 600; letter-spacing: 6px;color: #5b5b5b;font-family: 'Microsoft YaHei UI';margin-top: 20px">
             以图搜图
         </span>
         <span id="dialogContent" style="margin-top: 18px;font-size: 13px;font-family: 'Microsoft YaHei UI'">
             点击确认以图搜图
         </span>
         <div style="display: flex;flex-direction: row;justify-content:space-around;margin-top: 30px">
             <button class="search-button" style="position:absolute;width: 60px; height: 24px; font-size:12px;padding: 0 ;margin-left: -90px" id="btn1" onclick="ToResult()">确定</button>
             <button class="search-button" style="position:absolute;width: 60px;  height: 24px ;font-size:12px;padding: 0 ;margin-right: -30px"  id="btn2" onclick="cancle()" >取消</button>
         </div>
     </div>
 </div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // 获取查询词
        var query = "{{ query_word }}";

        // 将查询词填充到搜索框中
        var inputBox = document.getElementById('query'); // 根据搜索框的 ID 获取搜索框元素
        inputBox.value = query; // 将查询词填充到搜索框中
    });

    const cameraIcon = document.getElementById('cameraIcon');
    const fileInput = document.getElementById('fileInput');
    const overlay = document.getElementById('overlay');
    const infoContent = document.getElementById('dialogContent')
    const btn1 = document.getElementById('btn1')
    const btn2 = document.getElementById('btn2')
     const dialog = document.getElementById("dialog-container")

    const ToResult = () => {
        {#overlay.style.display = 'none'#}
        window.location.href = "http://127.0.0.1:5000/img_rec?filename=target_img.jpg"
        btn1.style.display = 'none'
        btn2.style.display = 'none'

        infoContent.innerText = '正在为你跳转搜图结果, 请稍后...'
    }
    const cancle = () => {
          const dialog = document.getElementById("dialog-container")
            dialog.style.display = 'none'
        overlay.style.display = 'none'

    }
    cameraIcon.addEventListener('click', function(event) {
      event.stopPropagation();
      fileInput.click(); // 触发文件输入的点击事件
    });
    fileInput.addEventListener('change', function() {
    const selectedFile = fileInput.files[0];
    if (selectedFile) {
        overlay.style.display = 'flex'
        infoContent.innerText = "文件上传中..."
        btn1.style.display = 'none'
        btn2.style.display = 'none'
        dialog.style.display = 'flex'
        {#alert('已选择文件: ' + selectedFile.name);#}
        // 可以进行其他文件操作
        // 提交表单，触发文件上传到后端
        const form = document.querySelector('form');
        const formData = new FormData(form);
        formData.append('file', selectedFile);

        fetch('/', {
            method: 'POST',
            body: formData
        })
        .then((response) => {
            infoContent.innerText = "点击开始以图搜图"
        btn1.style.display = ''
        btn2.style.display = ''
        } )
        .catch(error => {
            console.error('上传文件时出现错误:', error);
        });
    }

});


    //搜索框随下拉页面跟随

    {#window.addEventListener('scroll', function() {#}
    {#    var searchContainer = document.getElementById('searchContainer');#}
    {#    var scrollPos = window.scrollY || window.scrollTop || document.getElementsByTagName("html")[0].scrollTop;#}
    {##}
    {#    if (scrollPos > 100) { // 100是触发固定搜索栏的滚动位置，根据需要调整#}
    {#        searchContainer.style.position = 'fixed';#}
    {#        searchContainer.style.top = '0';#}
    {#        searchContainer.style.left = '0';#}
    {#        searchContainer.style.right = '0';#}
    {#        searchContainer.style.zIndex = '1000';#}
    {#        // 添加其他样式或者类名，以使搜索栏更显眼#}
    {#    } else {#}
    {#        searchContainer.style.position = 'static'; // 滚动位置在 100 以内时恢复默认位置#}
    {#    }#}
</script>

</body>

</html>
